.container {
    position: relative;
    aspect-ratio: 4;
    width: 100%;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
}

.shortFlex {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2f2f2f5f;
}

.profileIconContainer {
    position: relative;
    height: 80%;
    width: 80%;

}


.activityDiv {
    position: absolute;
    height: 25%;
    border-radius: 100%;
    aspect-ratio: 1;

    left: 80%;
    top: 80%;

    border: transparent solid 3px;

    transition: border ease-in-out 0.5s;

    overflow: hidden;
}

.away {
    background-color: darkred;
    border-color: red;
}

.dnd {
    background-color: dodgerblue;
    border-color: deepskyblue;
}

.chat {
    background-color: darkgreen;
    border-color: green;
}

.offline {
    background-color: darkgrey;
    border-color: rgb(128, 128, 128);
}

.profileIcon {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.longFlex {
    font-size: 0.8dvw;
    padding-top: 2%;
    flex: 3;
    display: flex;

    flex-direction: column;
    padding-left: 2%;

    background: #2f2f2f5f;
    overflow: hidden;
}

.gameNameContainer {
    flex: 2;

    height: 100%;
    font-size: 1.4dvw;
    font-weight: bolder;
    align-items: center;

}

.levelContainer {
    display: flex;
    width: 95%;
    flex: 2;

    align-items: center;
}

.levelText {
    font-weight: 600;
    flex: 1;
    height: 100%;
    justify-content: center;
}

.renderLevelContainer {

    flex: 2;
}

.activityDescription {
    display: flex;

    align-items: center;
    flex: 1.2;
}

.test {
    height: 35dvh;
    width: 40dvh;
}