.container {
    position: absolute;
    height: 100dvh;
    width: 100dvw;

    top: 0;
    left: 0;

    background: linear-gradient( 90deg,rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 0 0/1000% 100%;
    background-size: 1000% 1000%;
    animation: animateBackgroundGradient 240s linear infinite forwards;
}

@keyframes animateBackgroundGradient {
    to {background-position: -1000% -1000%}
}


.brandContainer {
    position: absolute;
    margin: 10px;
    height: 7.5%;
    aspect-ratio: 2.3;

    display: flex;

}

.brandIconContainer {
    flex: 1;
    position: relative;
    height: 100%;
    aspect-ratio: 1;

    display: block;
}

.brandIcon {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.brandText {
    flex: 2;
    position: relative;
    height: 100%;
    aspect-ratio: 2.3;
    font-size: 2.6dvh;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: white;
}

.mainInformation {
    left: 30%;
    top: 25%;
    position: absolute;
    height: 40%;
    width: 40%;

    display: flex;
    flex-direction: column;

}

.loadingGif {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;

    flex: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingText {
    position: relative;
    flex: 1;
    color: white;

    left: 10%;
    width: 80%;

    font-size: 1.5dvw;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    user-select: none;
}

.statusText {
    font-size: 1.2em;
}

.clickable_text {
    cursor: pointer;
    text-decoration: underline;
    text-underline: white;
    font-weight: bold;
}

.disclaimer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 100%;

    text-align: center;

    height: 5%;

    font-family: Spiegel;

    transform: translateX(-50%);

    font-size: 0.75dvw;
    font-weight: 600;

    color: white;
}